#provedor .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#provedor article
{
    margin: 15px;
}
#provedor img{
    width 100%;
    max-width: 180px;
}
#provedor img
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.4s;
    -webkit-transition:-webkit-filter 0.5s;
}

#provedor img:hover{
    -webkit-filter:grayscale(0);
}

